
<div th:fragment="content" th:attr="data-page-title=${pageTitle},data-active-page=${activePage}">
  <link rel="stylesheet" th:href="@{/css/resonator-base.css}">
    <section class="content status-page status-page">
        <div class="status-scroll">
          <div class="status-card">
            <div class="resonator-base-stage">
              <div class="card mingshiu-section-card">
                <div class="card-body">
                  <div class="section-fieldset panel-deep">
                    <div class="section-legend badge-neon">基本情報</div>
                    <div class="section-fieldset-body">
                      <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-1">
                          <div class="resonator-avatar-card h-100">
                            <div class="resonator-avatar-drop">
                              画像をドラッグ＆ドロップ
                              <span>またはファイルを選択</span>
                            </div>
                            <div class="resonator-avatar-frame">
                              <div class="resonator-avatar-frame-label">PREVIEW</div>
                              <div class="resonator-avatar-preview">
                                <div class="resonator-avatar-silhouette">
                                </div>
                                <span>NO IMAGE</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-1">
                          <div class="form-group mb-0">
                            <div class="stat-row-flat">
                              <div class="stat-flat-label">XXX</div>
                              <div class="stat-flat-value-wrap">
                                <input type="number" class="stat-flat-input" id="diffractionDamageUp" name="diffractionDamageUp" placeholder="000.0%">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-1">
                          <div class="form-group mb-0">
                            <div class="stat-row-flat">
                              <div class="stat-flat-label">XXX</div>
                              <div class="stat-flat-value-wrap">
                                <input type="number" class="stat-flat-input" id="extinctionDamageUp" name="extinctionDamageUp" placeholder="000.0%">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
  </div>
</div>