<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mingshiu.engine.mapper.TempFileMapper">
    <insert id="insert" parameterType="com.mingshiu.engine.model.TempFile">
        INSERT INTO temp_file (
            user_id,
            session_id,
            unique_id,
            image_type,
            file_name,
            content_type,
            file_base64,
            created_at
        ) VALUES (
            #{userId},
            #{sessionId},
            #{uniqueId},
            #{imageType},
            #{fileName},
            #{contentType},
            #{fileBase64},
            CURRENT_TIMESTAMP
        )
    </insert>
    <select id="selectByKey" resultType="com.mingshiu.engine.model.TempFile">
        SELECT
            user_id      AS userId,
            session_id   AS sessionId,
            unique_id    AS uniqueId,
            image_type   AS imageType,
            file_name    AS fileName,
            content_type AS contentType,
            file_base64  AS fileBase64,
            created_at   AS createdAt
        FROM temp_file
        WHERE
            user_id = #{userId}
            AND session_id = #{sessionId}
            AND unique_id = #{uniqueId}
            AND image_type = #{imageType}
    </select>
</mapper>
