<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mingshiu.engine.mapper.UploadFileMapper">
    <insert id="insert" parameterType="com.mingshiu.engine.model.UploadFile">
        INSERT INTO tmp_upload_file (
            user_id,
            session_id,
            unique_id,
            file_type,
            file_extension,
            file_content_type,
            file_data,
            file_base64,
            created_at
        ) VALUES (
            #{userId},
            #{sessionId},
            #{uniqueId},
            #{fileType},
            #{fileExtension},
            #{fileContentType},
            #{fileData},
            #{fileBase64},
            CURRENT_TIMESTAMP
        )
    </insert>
    <select id="selectByKey" resultType="com.mingshiu.engine.model.UploadFile">
        SELECT
            user_id           AS userId,
            session_id        AS sessionId,
            unique_id         AS uniqueId,
            file_type         AS fileType,
            file_extension    AS fileExtension,
            file_content_type AS fileContentType,
            file_base64       AS fileBase64,
            created_at        AS createdAt
        FROM tmp_upload_file
        WHERE
            user_id = #{userId}
            AND session_id = #{sessionId}
            AND unique_id = #{uniqueId}
            AND file_type = #{fileType}
    </select>
</mapper>
